body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

header {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: 60%;
  padding: 2rem 0;
}

.main ul {
  list-style-type: none;
}

.main ul li span{
  display: inline-block;
  width: 80%;
  margin-bottom: 1.2rem;
}


footer {
  color: #fff;
  background-color: #666;
  text-align: center;
  padding: 1rem 0;
}